---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: gitsyncs.numaplane.numaproj.io.github.com.numaproj-labs
spec:
  group: numaplane.numaproj.io.github.com.numaproj-labs
  names:
    kind: GitSync
    listKind: GitSyncList
    plural: gitsyncs
    singular: gitsync
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: GitSync is the Schema for the gitsyncs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GitSyncSpec defines the desired state of GitSync
            properties:
              destinations:
                description: Destinations describe where to sync it
                items:
                  properties:
                    cluster:
                      type: string
                    namespace:
                      description: 'Namespace is optional, as the Resources may be
                        on the cluster level (Note that some Resources describe their
                        namespace within their spec: for those that don''t it''s useful
                        to have it here)'
                      type: string
                  required:
                  - cluster
                  type: object
                type: array
              repositoryPaths:
                description: RepositoryPaths lists one or more Git Repository paths
                  to watch
                items:
                  properties:
                    path:
                      description: Path is the full path from the root of the repository
                        to where the resources are held Can be a file or a directory
                        Note that all resources within this path (described by .yaml
                        files) will be synced
                      type: string
                    repoUrl:
                      description: RepoUrl is the URL to the repository itself
                      type: string
                  required:
                  - path
                  - repoUrl
                  type: object
                type: array
            required:
            - destinations
            - repositoryPaths
            type: object
          status:
            description: GitSyncStatus defines the observed state of GitSync
            properties:
              commitStatus:
                description: Recent commits that have been processed and their status
                items:
                  properties:
                    hash:
                      type: string
                    synced:
                      type: boolean
                  required:
                  - hash
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
